* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
  padding: 20px 10%;
  border-bottom: 1px solid grey;
  background: linear-gradient(to right, #fdfeff 20%, #e6f0ff 80%);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #656464;
}

.links {
  display: flex;
  gap: 50px;
}

.vector {
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn_logo {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-left: 100px;
}

.vec {
  width: 10px;
  margin-top: 5px;
}

.sec1 {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
}

.netbook {
  color: #217bf4;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 16px;
  background-color: rgba(156, 199, 255, 0.6156862745);
  border: none;
  margin-top: 100px;
}

.sec1 h1 {
  font-size: 60px;
  color: #0a093d;
  margin-top: 20px;
}

.sec1 p {
  color: #656464;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.about {
  padding: 20px 30px;
  background-color: #217bf4;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.invite {
  padding: 20px 30px;
  border: 1px solid #217bf4;
  color: #217bf4;
  background-color: transparent;
  font-size: 18px;
  border-radius: 10px;
}

.btns_sec1 {
  display: flex;
  gap: 20px;
}

.sec1 {
  background: linear-gradient(to right, #fdfeff 20%, #e6f0ff 50%);
}

.sec2 {
  padding: 80px 10%;
  display: flex;
}

.round {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.left_sec2 h6 {
  color: #217bf4;
  font-size: 18px;
}

.left_sec2 h2 {
  font-size: 40px;
  width: 60%;
  margin: 20px 0px;
}

.recent {
  color: #656464;
  font-size: 18px;
  width: 70%;
  margin-bottom: 20px;
  line-height: 28px;
}

.img_sec2 {
  display: flex;
  gap: 30px;
}

.imgs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex {
  width: 270px;
  height: 370px;
  margin-top: 60px;
}

.card {
  width: 340px;
  height: 340px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.sec3 {
  padding: 20px 10%;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.first {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 20px;
}

.second {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0px;
}

.btn_sec3 {
  border: none;
  background-color: transparent;
  color: #217bf4;
  font-size: 18px;
  padding-top: 30px;
}

.num {
  color: #217bf4;
}

.page {
  color: #8c8c8c;
  font-size: 18px;
  line-height: 24px;
}

.btn2_sec3 {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 18px;
  padding-top: 30px;
}

.card3 {
  width: 380px;
  box-shadow: none;
}

.card3 h6 {
  color: #217bf4;
  font-size: 18px;
}

.card3 h3 {
  font-size: 34px;
  margin: 14px 0px;
}

.card3 p {
  color: #656464;
  line-height: 24px;
}

.card3 button {
  padding: 14px 20px;
  background-color: #217bf4;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-top: 60px;
}

.sec4 {
  padding: 20px 10%;
  background: linear-gradient(to right, #f4f9ff 50%);
}

.member {
  width: 580px;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  display: flex;
  gap: 20px;
}

.member h5 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}

.member p {
  color: #656464;
  font-size: 18px;
  margin-top: 10px;
}

.members {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sec4 h6 {
  color: #217bf4;
  font-size: 18px;
  text-align: center;
}

.sec4 h2 {
  font-size: 40px;
  text-align: center;
  margin: 10px 0px;
}

.wise {
  color: #656464;
  font-size: 20px;
  width: 42%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
}

.sec5 {
  padding: 20px 10%;
}

.sec5 h6 {
  color: #217bf4;
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}

.sec5 h3 {
  font-size: 40px;
  text-align: center;
}

.when {
  color: #656464;
  font-size: 18px;
  width: 42%;
  text-align: center;
  margin: 30px auto;
  line-height: 28px;
}

.active {
  width: 500px;
  height: 70px;
  padding: 20px 30px;
  background-color: #c8d8ec;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  color: #2f2c4a;
  align-items: center;
  margin: 0 auto;
}

.man {
  width: 270px;
  height: 300px;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.boy {
  position: absolute;
  right: 64px;
  bottom: 130px;
}

.men {
  display: flex;
  justify-content: space-between;
  margin: 60px 0px;
}

.boy3 {
  right: 50px;
  bottom: 110px;
}

.boy4 {
  right: 50px;
  bottom: 110px;
}

.man h4 {
  font-size: 24px;
  margin-top: 10px;
}

.man p {
  margin-top: 10px;
}

.sec6 {
  padding: 20px 10% 0px;
  background-color: #cae2ff;
  display: flex;
  justify-content: space-between;
}

.phone {
  width: 600px;
}

.app {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  margin-left: -30px;
}

.apps {
  width: 140px;
  height: 50px;
  margin-top: 22px;
}

.left_sec6 h6 {
  color: #217bf4;
  font-size: 20px;
  margin-top: 50px;
}

.left_sec6 h3 {
  font-size: 36px;
  width: 60%;
  margin: 20px 0px;
}

.chap {
  font-size: 18px;
  color: #656464;
  width: 60%;
}/*# sourceMappingURL=style.css.map */